*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:linear-gradient(135deg,#040e23,#1e3a8a);
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;

}

.contenedor{

    width:100%;
    max-width:1100px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;

}

/* ---------- LADO IZQUIERDO ---------- */

.info{

    color:white;
    width:45%;
    text-align:center;

}

.logo{

    width:240px;
    margin-bottom:25px;

}

.info h1{

    font-size:3rem;
    margin-bottom:20px;

}

.info p{

    font-size:1.2rem;
    line-height:1.7;

}

/* ---------- FORM ---------- */

.formulario{

    width:400px;

    background:white;

    padding:30px;

    border-radius:18px;

    box-shadow:0 15px 35px rgba(0,0,0,.25);

}

.formulario h2{

    text-align:center;

    color: #1e3a8a;

    margin-bottom:25px;

}

form{

    display:flex;
    flex-direction:column;
    gap:12px;

}

label{

    font-weight:600;

    color:#444;

}

input{

    padding:12px;

    border:1px solid #d6d6d6;

    border-radius:10px;

    font-size:15px;

}

input:focus{

    outline:none;

    border-color:#2563eb;

    box-shadow:0 0 8px rgba(37,99,235,.3);

}

button{

    margin-top:10px;

    padding:13px;

    background: #1e3a8a;

    color:white;

    border:none;

    border-radius:10px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#1d4ed8;

}

.login{

    margin-top:20px;

    text-align:center;

}

.login a{

    text-decoration:none;

    color:#1e3a8a;

    font-weight:bold;

}

.login a:hover{

    text-decoration:underline;

}

/* ---------- RESPONSIVE ---------- */

@media(max-width:900px){

    .contenedor{

        flex-direction:column;

        gap:40px;

    }

    .info{

        width:100%;

    }

    .formulario{

        width:100%;
        max-width:420px;

    }

    .logo{

        width:180px;

    }

    .info h1{

        font-size:2.3rem;

    }

}


.registro{
    margin-top: 25px;
    text-align: center;
}

.registro a{

    text-decoration:none;

    color:#1e3a8a;

    font-weight:bold;

}
.alerta{

    background:#ffe5e5;

    color:#b00020;

    border:1px solid #f5b5b5;

    padding:12px;

    border-radius:10px;

    margin-bottom:20px;

    text-align:center;

}

.alert {
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.alert-success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}