<div class="sidebar">

    <h2>TaskFlow</h2>

    <ul>

        <li>
            <a href="/dashboard">🏠 Inicio</a>
        </li>

        <li>
            <a href="/tareas">📝 Tareas</a>
        </li>

        <li>
            <a href="/categorias">📂 Categorías</a>
        </li>

       <!--  <li>
            <a href="/usuarios/perfil">👤 Mi perfil</a>
        </li> -->

        <li>
            <a href="/usuarios/logout">🚪 Cerrar sesión</a>
        </li>

    </ul>

</div>