<!-- Botón hamburguesa (solo celular) -->
<nav class="navbar navbar-dark bg-dark d-lg-none">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="/Images/Taskflow.png"
                 alt="TaskFlow"
                 style="height:40px;">
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#sidebarMenu">

            <span class="navbar-toggler-icon"></span>

        </button>

    </div>
</nav>

<!-- Sidebar -->
<div class="offcanvas-lg offcanvas-start sidebar bg-dark text-white"
     tabindex="-1"
     id="sidebarMenu">

    <div class="offcanvas-header d-lg-block text-center border-bottom">

        <img src="/Images/Taskflow.png" alt="TaskFlow" class="logo img-fluid">

        <button type="button"
                class="btn-close btn-close-white d-lg-none position-absolute end-0 top-0 m-3"
                data-bs-dismiss="offcanvas">
        </button>

    </div>

    <div class="offcanvas-body">

        <ul class="nav flex-column">

            <li class="nav-item">
                <a href="/" class="nav-link text-white">
                  <i class="fa-solid fa-gauge-high"></i> Inicio
                </a>
            </li>

            <li class="nav-item">
                <a href="/tareas" class="nav-link text-white">
                   <i class="fa-solid fa-list-check"></i> Tareas
                </a>
            </li>

            <li class="nav-item">
                <a href="/categorias" class="nav-link text-white">
                    <i class="fa-solid fa-tags"></i> Categorías
                </a>
            </li>

            <hr class="text-secondary">

            <li class="nav-item">
                <a href="/usuarios/logout" class="nav-link text-danger">
                   <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión
                </a>
            </li>

        </ul>

    </div>

</div>