<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Css/inicio.css">
    <title>Lista de Tareas</title>
</head>

<body>
    <h1>Hola <%= usuario.nombre %> 👋</h1>

<%- include("partials/sidebar") %>
    <h1>Lista de Tareas</h1>


    <p>
        Organiza tus tareas.
    </p>


    <a href="/usuarios/login">
        Iniciar sesión
    </a>


    <a href="/usuarios/registro">
        Registrarse
    </a>
    
<div class="resumen">

    <div class="card-resumen">
        <h2><%= pendientes %></h2>
        <p>Tareas pendientes</p>
    </div>

    <div class="card-resumen">
        <h2><%= completadas %></h2>
        <p>Tareas completadas</p>
    </div>

</div>

</body>
</html>