

/* Pagina principal que muestra tareas completadas, incompletas */



body {
    background:linear-gradient(135deg,#040e23,#112661);
    color: white !important;
}


/* .logo{
    width: 180px;
    display: block;
    margin: 20px auto;
}
*/


.pendientes {
    background-color: #fff3cd;
    color: #856404;
}

.completadas {
    background-color: #d1e7dd;
    color: #0f5132;
}