<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/Css/login-registro/registro.css">
            
    <title>Registrarse</title>
</head>

<body>


<div class="contenedor">

    <div class="info">

        <img src="/Images/Taskflow.png" alt="TaskFlow" class="logo">


        <p>
            Organizá tus tareas, administrá tus proyectos y mantené todo bajo control desde un solo lugar.
        </p>

    </div>

    <div class="formulario">

        <h2>Registrarse</h2>

        <% if (mensaje) { %>
            <div class="alert alert-danger">
                <%= mensaje %>
            </div>
        <% } %>

        <form action="/usuarios/registro" method="POST">

            <label>Nombre</label>
            <input type="text" name="nombre" minlength="3" maxlength="100" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+" title="Solo letras y espacios" required>

            <label>Apellido</label>
            <input type="text" name="apellido"  minlength="3" maxlength="100" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+" title="Solo letras y espacios" required>

            <label>Email</label>
            <input type="email" name="email" maxlength="100" required>

            <label>Contraseña</label>
            <input type="password" name="password" required>

            <label>Repetir contraseña</label>
            <input type="password" name="confirmPassword" required>

            <button type="submit">
                Registrarse
            </button>

        </form>

        <p class="login">
            ¿Ya tenés cuenta?
            <a href="/usuarios/login">Iniciar sesión</a>
        </p>

    </div>

</div>


    </body>
</html>